div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
p{
    color: orange;
}
.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(150, 50, 177);
}

.otra_caja{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 255,0.5);
}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color:#e90af5;
}
.capibara{
    width: 150px;
    height: 150px;
    background-color:hsl(0, 100%, 50%);
}
*{
    color: green;
    font-weight: bolder;
}
#soy_unico{
    width: 250px;
    height: 50px;
    background-color: magenta;
}
a[title]{
    color: red;
}
button:hover{
    background-color: chocolate;
    color: rebeccapurple;
}
input:disabled{
    background-color: black;
}
/*p::first-line{
    color: blue;
}
p::first-letter{
    color: red;
    font-size: 45px;
}*/
.capibara1, .capibara2 , .capibara3{
    width: 100px;
    height: 100px;
    background-color:violet;
}
.padre p{
    color:  red;
}

p#unico.foo.bar{
    color: rebeccapurple!important;
}

p#unico.foo.bar.baz{
    color: rgb(51, 153, 82);
}

.main{
    color: #e90af5;
   border:2px solid black;
   padding: 1em;
}
.special{
    color: red;
    font-weight: bold;
    border:2px solid black;
}
.rectangulo{
    width: 450px;
    height: 250px;
    background-color: lightcoral;
}
.cajita{
    width: 50%;
    height: 250px;
    background-color: aquamarine;
}
.cajainterior{
    width: 50%;
    height: 50%;
    background-color: #e90af5;
}

.cajainterior p{
    font-size: 4rem;
    color: black;
}
body{
    margin: 0;
}
.pading{
    width: 250px;
    height: 250px;
    background-color: #5f0b63;
    border-left: 12px solid blue;
    border-right: 12px solid blue;
}